@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
#about-page {
    margin: 45px;
}
#about-page h2{
    text-align: center;
}
#about-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start
}
#about-container div{
    flex:1;
    text-align: center;
    margin:10px;
}

@media only screen and (max-width: 1025px) {
    #about-container{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin:100px 10px;
    }
}