.navbar {
    background-color: #1b262c;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
   border-radius: 90px;
   color: #fff;
   height: 60px;
   width: 60px;
   cursor: pointer;
   display: inline-block;
   padding-left:8px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:end;
    margin-right: 2rem;
}

.nav-links{
    color: #fff;
    text-decoration: none;
    padding: 5px;    
}

.nav-links:hover{
    background-color: #fff;
    border-radius: 40px;
    color: black;
    text-decoration: underline;
}

.bars {
    color: #fff;
    width: 25px;
    height:25px;
    transition: 20s;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:1156px){
    .navbar{
        position: relative;
    }

    .nav-menu{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        position: absolute;
        top:70px;
        left: -100%;
        opacity: 1;
    }

    .nav-menu.active{
        position: absolute;
        background: #1b262c;
        left:0;
        opacity: 1;
        z-index: 1;
        height: auto;
    }

    .nav-links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display:table;
    }

    .nav-links:hover{
        background-color: #ffffff;
        border-radius:0;
    }

    .menu-icon{
       display:block;
       position: absolute;
       top: 0;
       right: 0;
       transform: translate(-100%,60%);
       font-size: 1.8rem;
       cursor: pointer;
    }

    .bars{
        color:#fff;
        font-size: 2rem;
    }

}

