<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
      <div class ="form">
          <form class ="form" method="post" action ="/loginValidation">
              <label>user name</label><br>
              <input type="text" class ="form" name="username"><br>
              <label>Password</label><br>
              <input type="password" class ="form" name="password"><br><br><br>
              <input type="submit" class ="btn btn" value="Login">
          </form>

          <p> Not Registered ? <a href="/signUp">Sign Up</a></p>
      </div>
</body>
</html>