<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
      <div class ="form">
          <form class ="form" method="POST" action="/adduser">
              <label>Name</label><br>
              <input type="text" class ="form" name="username"><br>
              <label>Email</label><br>
              <input type="email" class ="form" name="email"><br>
              <label>Password</label><br>
              <input type="password" class ="form" name="password"><br><br><br>
              <input type="submit" class ="btn btn" value="Sign Up">
          </form>

          <p> Already Registered ? <a href="/">Login</a></p>
      </div>
</body>
</html>