{% extends "layout.html" %} {% block content %}
<center>
<h3>Members Information</h3>
</center>
<div class="main-block">
<table>
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Email</td>
    <td>Address</td>
    <td>Number</td>
  </thead>

  {% for row in rows %}

  <tr>
    <td>{{row["id"]}}</td>
    <td>{{row["name"]}}</td>
    <td>{{row["email"]}}</td>
    <td>{{row["address"]}}</td>
    <td>{{row["number"]}}</td>
  </tr>

  {% endfor %}
</table>
<br /><br />


<a href="/add">Add a new member </a>
<a href="/delete">Delete member</a>
</div>
<style>
  .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-height: 55vh;
    background: #ffffff;
  }
  a{
    text-decoration: none;
    color: rgb(8, 50, 91);
  }
  a:hover{
    text-decoration: none;
    color: rgb(164, 21, 116);
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  </style>
{% endblock content %}
