{% extends "layout.html" %}

{% block content %}

<div class="container1" id="feature">

    <div class="col-sm0">
        <h1 id="heading1"> Features of Watcher </h1>
    </div>
    <div class="col-sm1">
        <div style="width:300px; margin:auto; font-size:15px;">
            <img src = "{{ url_for('static', filename='images/mask.png') }}" alt="alert"/>
            <p style="margin-top: 10px;margin-bottom: 10px;"> <b> Monitor People </b></p>
            <p style ="text-align: justify;">The Watcher system will monitor whether a person is wearing mask or not</p>
        </div>
    </div>
    <div class="col-sm2">
        <div style="width:300px; margin:auto; font-size:15px;">
            <img src = "{{ url_for('static', filename='images/alert.png') }}" alt="alert"/>
            <p style="margin-top: 10px;margin-bottom: 10px;"> <b> Alert the Admin </b></p>
            <p style ="text-align: justify;">The system will alert the admin if it detects a person who is not wearing a mask</p>
        </div>
    </div>
    <div class="col-sm3">
        <div style="width:300px; margin:auto; font-size:15px;">
            <img src = "{{ url_for('static', filename='images/person.png') }}" alt="alert"/>
            <p style="margin-top: 10px;margin-bottom: 10px;"> <b> Alert the Person </b></p>
            <p style ="text-align: justify;">If the system identifies a person who is not wearing a mask, it will alert that person to wear a mask</p>
        </div>
    </div>

</div>
 
<div class="container2" id="feature">

    <div class="col-sm01"><h1 id="heading1"> Use Case </h1></div>
    <div class="col-sm11">
        <div style="width:300px;margin:auto;font-size:15px">
            <h3 style="margin-top: 10px;margin-bottom: 10px;">University</h3>
            <img src=  "{{ url_for('static', filename='images/uni.jpg') }}" width = "300px" height = "250px" alt = "a university" />
            <p style ="text-align:justify">The Face Mask Detection System can be used at universities to monitor whether people are following the WHO best practices.
               Our system is best fit for the universities because the management of the universities will already
               have the data of the students and staffs, so if they do not wear a mask we can easily
               identify and alert them. The students, academic and non-academic staffs are present within the universities, therfore a security
               system like Watcher will definitely help the management to monitor a large group of people.</p>
        </div>
    </div>
    <div class="col-sm21">
        <div style="width:300px;margin:auto;font-size:15px">
            <h3 style="margin-top: 10px;margin-bottom: 10px;">Office</h3>
            <img src=  "{{ url_for('static', filename='images/ofi.jpg') }}" width = "300px" height = "250px" alt = "a office" />
            <p style ="text-align:justify;">The Face Mask Detection System can be used at offices because it will help to identify
                employees who are not wearing a mask and alert them. The management will also be notified with the details of the person who was detected by the system for not wearing a mask. Watcher will primarily
                help to ensure the safety of all the employees because that is the most important thing in
                this situation.</p>
        </div>
    </div>
     
</div>
<div class="video">
    <h1 id="hed">Video Demo</h1>
    <p id="re">This video give a brief introduction about watcher and give a simple demo for watcher. Please check it:-</p>
    <iframe width="727" height="409" src="https://www.youtube.com/embed/UoShjzFSL04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
 
<style>
    #heading1 {
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
      font-family:'arial';
      font-size: 40px;
    }

    .col-sm0 {
        grid-area: first;
    }
    .col-sm1 {
        grid-area: sec1;
    }
    .col-sm2 {
        grid-area: sec2;
    }
    #col-sm3 {
        grid-area: sec3;
    }

    .container1 {
      margin-bottom: 80px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 30px;
      padding-bottom: 20px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 100px;
      margin-right: 100px;
      display: grid;
      grid-template-areas:
        'first first first'
        'sec1 sec2 sec3';
    }

    .col-sm01 {
        grid-area: third;
    }
    .col-sm11 {
        grid-area: fo1;
    }
    .col-sm21 {
        grid-area: fo2;
    }

    .container2 {
      margin-bottom: 80px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 30px;
      padding-bottom: 20px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 35px;
      margin-left: 100px;
      margin-right: 100px;
      display: grid;
      grid-template-areas:
        'third third'
        'fo1 fo2';
    }

    .container2 img{
        margin-bottom: 15px;
    }

    .video{
        margin-bottom: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 50px;
        padding: 20px;
        width: 770px;
        height: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    #hed{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        margin-bottom: 12px;
    }

    #re{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 12px;
        margin-bottom: 21px;
        font-size: small;
    }

    
</style>
{% endblock content %}