#log {
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
  padding-bottom: 20px;
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#head{
    padding: 20px;
    padding-bottom: 40px;
}

.filed{
    background-color: aqua;
}