@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,*{
    box-sizing:border-box;
    margin:0;
    padding:0;    
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.special-text{
    background-color: #bbe1fa;
    border-radius: 30px;
    padding: 4px;
}
.group-links{
    text-align: center;
    margin: auto;
    padding:10px;
    margin-left: 40%;
}
.link{
    text-decoration: none;
    color: white;
    background-color: #1b262c;
    padding: 8px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 12px;
    margin:10px;
    width: 130px;
}
.link:hover{
    text-decoration: underline;
    color: white;
}

#welcome-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 20px;
}
#welcome-container #welcome-info-container{
    flex: 3;
    text-align: left;
}
#welcome-container #welcome-info-container h1{
    font-size: 30px;
    margin: 10px;
}
#welcome-container #welcome-info-container h1 .special-text{
    padding: 8px;
}
#welcome-container #welcome-info-container p{
    font-size: 13px;
    text-align: justify;
    margin: 0px 15px 0px 10px;
}
#welcome-container #welcome-info-container li{
    color: white;
}
#welcome-container #welcome-img-container{
    flex: 1;
}
#welcome-container #welcome-img-container img{
    width: 250px;
    height: 230px;
    object-fit: cover;
}

@media only screen and (max-width: 1250px) {
    #welcome-container{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 20px 
    }
    #welcome-container #welcome-info-container{
        flex: 1;
    }
    #welcome-container #welcome-info-container h1{
        font-size: 25px;
        text-align: center;
    }
    #welcome-container #welcome-info-container p{
        margin: 5px;
    }
    #welcome-container #welcome-info-container .special-text{
        background-color: white;
    }
    #welcome-container #welcome-img-container{
        padding:25px;
        flex: 2;
    }
    #welcome-container #welcome-info-container .group-links .link{
        text-decoration:underline;
    }
}